<div id="select-employee-department">
  <%=   render :partial=>"select_employee_department" %>
</div>

<div class="label-field-to">
  <div id="to_users"></div>
</div>
<div class="extender"></div>
<div class="extender"></div>
<div id="select-student-course">
  <%=  render :partial=> "select_student_course" %>
</div>
<div class="label-field-to">
  <div id="to_users2"></div>
</div>